name: AlmaLinux 8 Job
on:
  push:
    branches:
      - main-

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    container:
      image: almalinux:8

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          repository: HDFGroup/hdf5

      - name: verify
        run: |
          cat /etc/redhat-release
          dnf --version

      - name: install
        run: |
          dnf -y update
          dnf -y install gcc make cmake

      - name: hdf5
        run: |
          mkdir build
          cd build
          cmake --log-level=VERBOSE --fresh \
                -DSITE:STRING=alm \
                -DBUILDNAME:STRING="r" \
                -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
                -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
                ..
          ctest -D Experimental -C Release
