name: AlmaLinux 8 Job
on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    container:
      image: almalinux:8

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          repository: HDFGroup/hdf5
      
      - name: verify
        run: |
          cat /etc/redhat-release
          dnf --version

      - name: install
        run: |
          dnf -y update
          dnf -y install gcc make cmake
          
