name: amd64 mac-15 fr fd

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15-intel]
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5
      - name: install
        run: |
          brew install ninja
      - name: test
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DHDF5_BUILD_FRAMEWORKS:BOOL=ON \
            -DHDF5_INSTALL_FWRK_DIR=/tmp \
            -DSITE:STRING="${{ matrix.os }}" -DBUILDNAME:STRING="fr/fd=/tmp" -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" -DCTEST_DROP_LOCATION_INIT:STRING="/submit.php?project=HDF5" \
            ..
          ctest -D Experimental
