name: arm64 win-11 d tv gcf Gy

on:
  push:
    branches:
      - main-
jobs:
  build:
    runs-on: windows-11-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: HDFGroup/hdf5    
      - name: test
        run: |
          mkdir build
          cd build
          cmake -DSITE:STRING="win-11.arm64" -DBUILDNAME:STRING="d/tv/gcf/Gy" -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" -DHDF5_TEST_VFD:BOOL=ON  -DCMAKE_C_FLAGS_INIT="/guard:cf" -DCMAKE_CXX_FLAGS_INIT="/guard:cf" -DCMAKE_EXE_LINKER_FLAGS="/DYNAMICBASE /Gy" -DCMAKE_SHARED_LINKER_FLAGS="/DYNAMICBASE /Gy" ..
          ctest -C Debug -D Experimental 
