name: arm64

on:
  push:
    branches: main

jobs:
  test: # make sure the action works on a clean machine without building
    name: ${{ matrix.os.name }} ${{ matrix.os.architecture }} ${{ matrix.os.version }} on ${{ matrix.os.host }}
    runs-on: ${{ matrix.os.host }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: openbsd
            architecture: arm64
            version: '7.8'
            host: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: HDFGroup/hdf5
      - name: ${{ matrix.os.name }}
        uses: cross-platform-actions/action@master
        env:
          FOO: A
          BAR: B
        with:
          environment_variables: FOO BAR
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: '${{ matrix.os.version }}'
          shell: bash
          run: |
            sudo pkg_add git
            sudo pkg_add cmake
            mkdir build
            cd build
            cmake \
            -DBUILDNAME:STRING="r" \
            -DCMAKE_BUILD_TYPE=Release \
            -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
            -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=OFF \
            -DSITE:STRING=obsd.arm64 \
            ..
            ctest -D Experimental -C Release
