name: f

on:
  push:
    branches: main
  workflow_dispatch:

jobs:
  test:
    name: f
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5
      - name: openbsd
        uses: cross-platform-actions/action@v0.29.0
        env:
          FOO: A
          BAR: B        
        with:
          environment_variables: FOO BAR          
          operating_system: 'openbsd'
          architecture: 'x86-64'
          version: '7.8'
          shell: bash
          run: |
            uname -a
            echo $SHELL
            pwd
            ls -ahl
            whoami
            env | sort
