name: fbsd sxb d f

on:
  push:
    branches:
      - main-

jobs:
  test: # make sure the action works on a clean machine without building
    name: ${{ matrix.os.name }} ${{ matrix.os.architecture }} ${{ matrix.os.version }} on ${{ matrix.os.host }}
    runs-on: ${{ matrix.os.host }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: freebsd
            architecture: x86-64
            version: '14.3'
            host: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: brtnfld/hdf5
          ref: H5R
      - name: ${{ matrix.os.name }}
        uses: cross-platform-actions/action@master
        env:
          FOO: A
          BAR: B
        with:
          environment_variables: FOO BAR
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: '${{ matrix.os.version }}'
          shell: bash
          run: |
            sudo pkg install -y git
            sudo pkg install -y cmake
            sudo pkg install -y gcc13
            export FC=gfortran13
            sudo mount -t fdescfs fdesc /dev/fd
            sudo mount -t procfs proc /proc
            mkdir build
            cd build
            cmake \
            -DCMAKE_BUILD_TYPE=Debug \
            -DBUILDNAME:STRING="sxb/d/cl-19/gf-13" \
            -D HDF5_BUILD_FORTRAN:BOOL=ON \
            -D CTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -D SITE:STRING="fbsd-14.3" ..
            ctest -D Experimental
