name: i386 alp d f

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5

      - name: alpine
        uses: jirutka/setup-alpine@v1
        with:
          arch: x86
          packages: >
            build-base
            libgit2-dev
            cmake
            gfortran
      - name: test
        run: |
          mkdir build
          cd build
          cmake \
            -DBUILDNAME:STRING="d/f" \
            -DCMAKE_BUILD_TYPE=Debug \
            -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
            -DHDF5_BUILD_FORTRAN=ON \
            -DSITE:STRING=alp.i386 \
             ..
          ctest -C Debug -D Experimental
        shell: alpine.sh --root {0}
