name: lin auto icx d

on:
  push:
    branches:
      - main-
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout HDF5
        uses: actions/checkout@v4
        with:
          repository: HDFGroup/hdf5
          path: .

      - name: Install Dependencies
        run:  |
          sudo apt-get update
          sudo apt-get install autoconf automake libtool libtool-bin libaec-dev

      - name: Add oneAPI to apt
        shell: bash
        run: |
          cd /tmp
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          rm GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          sudo add-apt-repository -y "deb https://apt.repos.intel.com/oneapi all main"

      - name: Install oneAPI dpcpp
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y intel-oneapi-compiler-dpcpp-cpp


      - name: Test
        shell: bash
        run: |
          source /opt/intel/oneapi/setvars.sh
          ./autogen.sh
          ./configure --prefix=/tmp --enable-internal-debug=all CC="$(which icx)"
          make -j
          make check -j
          make install
          make uninstall
