name: lin hk ninja

on:
  push:
    branches:
      - main-
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: h5
        uses: actions/checkout@v5
        with:
          repository: hyoklee/hdf5

      - name: test
        env:        
          CTEST_USE_INSTRUMENTATION: 1
          CTEST_EXPERIMENTAL_INSTRUMENTATION: ec7aa2dc-b87f-45a3-8022-fe01c5f59984
        run: |
          mkdir build
          cd build
          cmake \
            -G Ninja \
            -DBUILDNAME:STRING="hk/ninja/r" \
            -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
            -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -DSITE:STRING=ubu-24 \
            ..
          ctest -C Release -D Experimental -j
