name: lin hk off in

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: h5
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5
      - name: cmake-4.2
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmakeVersion: latest
      - name: test
        env:
          CTEST_USE_INSTRUMENTATION: 1
          CTEST_EXPERIMENTAL_INSTRUMENTATION: ec7aa2dc-b87f-45a3-8022-fe01c5f59984
        run: |
          mkdir build
          cd build
          cmake \
            -DBUILDNAME:STRING="hk/r/off/ui/ei/vi" \
            -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
            -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -DCTEST_EXPERIMENTAL_INSTRUMENTATION=ec7aa2dc-b87f-45a3-8022-fe01c5f59984 \
            -DCTEST_USE_INSTRUMENTATION=1 \
            -DCTEST_USE_VERBOSE_INSTRUMENTATION=1 \
            -DSITE:STRING=ubu-24 \
            -DBUILD_SHARED_LIBS=ON \
            -DBUILD_STATIC_LIBS=OFF \
            -DBUILD_TESTING=ON \
            -DHDF5_BUILD_EXAMPLES=OFF \
            -DHDF5_BUILD_TOOLS=OFF \
            -DHDF5_BUILD_HL_LIB=OFF \
            -DHDF5_BUILD_CPP_LIB=OFF \
            -DHDF5_BUILD_FORTRAN=OFF \
            -DHDF5_BUILD_JAVA=OFF \
            ..
            ctest -C Release -D Experimental
