name: lin  mpich-4.1 riscv-gcc-15.1

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          repository: HDFGroup/hdf5
      - name: test
        run: |
          pwd
          wget -q  https://github.com/riscv-collab/riscv-gnu-toolchain/releases/download/2025.11.27/riscv64-musl-ubuntu-24.04-gcc.tar.xz
          tar -xf riscv64-musl-ubuntu-24.04-gcc.tar.xz
          pwd
          ls -l /home/runner/work/actions/actions/riscv/bin
          echo $PATH
          export PATH=/home/runner/work/actions/actions/riscv/bin:$PATH
          which riscv64-unknown-linux-musl-gcc
          file /home/runner/work/actions/actions/riscv/bin/riscv64-unknown-linux-musl-gcc
          ls /
          ls /lib
          /home/runner/work/actions/actions/riscv/bin/riscv64-unknown-linux-musl-gcc
          wget -q  https://www.mpich.org/static/downloads/4.1/mpich-4.1.tar.gz
          tar -xzf mpich-4.1.tar.gz
          cd mpich-4.1
          ./configure \
            --prefix=$HOME/.local \
            --disable-fortran \
            --host=riscv64-linux-musl \
             CC=/home/runner/work/actions/actions/riscv/bin/riscv64-unknown-linux-musl-gcc \
             CXX=/home/runner/work/actions/actions/riscv/bin/riscv64-unknown-linux-musl-g++ || true
