name: lin mem chk

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref && github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: "lin mem chk"
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

    steps:
      - name: install
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build valgrind
          sudo apt install gcc-12 g++-12 gfortran-12
          echo "CC=gcc-12" >> $GITHUB_ENV
          echo "CXX=g++-12" >> $GITHUB_ENV
          echo "FC=gfortran-12" >> $GITHUB_ENV

      - name: cmake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest

      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5

      - name: test
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DBUILDNAME:STRING="ninja/gcc-12/d/mc" \
            -DCMAKE_BUILD_TYPE=Debug \
            -DHDF5_ENABLE_USING_MEMCHECKER:BOOL=ON \
            -DBUILD_SHARED_LIBS:BOOL=ON \
            -DHDF5_BUILD_CPP_LIB:BOOL=ON \
            -DHDF5_BUILD_FORTRAN:BOOL=OFF \
            -DHDF5_BUILD_JAVA:BOOL=OFF \
            -DHDF5_BUILD_HL_LIB:BOOL=ON \
            -DHDF5_ENABLE_ZLIB_SUPPORT:BOOL=ON \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=OFF \
            -DZLIB_USE_LOCALCONTENT:BOOL=OFF \
            -DLIBAEC_USE_LOCALCONTENT:BOOL=OFF \
            -DSITE:STRING=ubu-24 \
            -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -DCTEST_DROP_LOCATION_INIT:STRING="/submit.php?project=HDF5" \
            ..
          ctest -D Experimental
