name: mac-26 ninja d mpich cl fl sf

on:
  workflow_dispatch:
  push:
    branches: main-

jobs:
  build:
    name: mac-26 ninja d mpich cl fl sf
    runs-on: macos-26

    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5

      - name: get
        run: |
          curl -O -L  https://github.com/macports/macports-base/releases/download/v2.11.5/MacPorts-2.11.5-26-Tahoe.pkg
      - name: install
        run: |
          brew install flang --build-from-source
          sudo installer -pkg MacPorts-2.11.5-26-Tahoe.pkg -target /
      - name: update
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          sudo port selfupdate
      - name: mpich
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          port version
          sudo port install mpich-clang
          sudo port select --set mpi mpich-clang-fortran
      - name: test
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          env
          ls -l /opt/local/bin
          ls -l /opt/local/sbin
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_C_COMPILER=/opt/local/bin/mpicc-mpich-clang \
            -DCMAKE_Fortran_COMPILER=/opt/local/bin/mpifort-mpich-clang \
            -DBUILDNAME="ninja/mpich-4.3/cl-17/fl/aw/sf/np=3" \
            -DCTEST_DROP_SITE_INIT=my.cdash.org \
            -DCMAKE_BUILD_TYPE=Debug \
            -DBUILD_SHARED_LIBS=ON \
            -DBUILD_STATIC_EXECS:BOOL=OFF \
            -DBUILD_STATIC_LIBS:BOOL=OFF \
            -DHDF5_BUILD_FORTRAN=ON \
            -DHDF5_ENABLE_ALL_WARNINGS=ON \
            -DHDF5_ENABLE_PARALLEL:BOOL=ON \
            -DHDF5_ENABLE_SUBFILING_VFD:BOOL=ON \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=OFF \
            -DMPIEXEC_MAX_NUMPROCS:STRING=3 \
            -DSITE:STRING="mac-26" \
            ..
          ctest -D Experimental
