name: mac-14 ninja clang-15 f h d mpich sf

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        name: ["macOS Latest Clang"]
        include:
          - name: "macOS Latest Clang"
            artifact: "macOS.tar.xz"
            os: macos-14
            build_type: "Debug"
            cpp: OFF
            fortran: ON
            java: ON
            ts: OFF
            hl: ON
            parallel: ON
            toolchain: "config/toolchain/clang.cmake"
            generator: "-G Ninja"

    name: ${{ matrix.name }}
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

    steps:
    - name: checkout
      uses: actions/checkout@v6
      with:
        repository: HDFGroup/hdf5

    - name: get
      run: |
        curl -O -L  https://github.com/macports/macports-base/releases/download/v2.11.5/MacPorts-2.11.6-14-Sonoma.pkg
          
    - name: install
      run: |
        brew install flang --build-from-source
        sudo installer -pkg MacPorts-2.11.6-14-Sonoma.pkg -target /

    - name: update
      run: |
        export PATH=/opt/local/bin:/opt/local/sbin:$PATH
        sudo port selfupdate

    - name: mpich
      run: |
        export PATH=/opt/local/bin:/opt/local/sbin:$PATH
        port version
        sudo port install mpich-clang
        sudo port select --set mpi mpich-clang-fortran
       
    - name: test
      run: |
        export CC=$(brew --prefix llvm@15)/bin/clang
        echo $CC
        mkdir build
        cd build
        cmake ${{ matrix.generator }} \
        -DBUILD_SHARED_LIBS=ON \
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
        -DCMAKE_TOOLCHAIN_FILE=${{ matrix.toolchain }} \
        -DHDF5_BUILD_CPP_LIB:BOOL=${{ matrix.cpp }} \
        -DHDF5_BUILD_JAVA=${{ matrix.java }} \
        -DHDF5_BUILD_FORTRAN:BOOL=ON \
        -DHDF5_BUILD_HL_LIB:BOOL=${{ matrix.hl }} \
        -DHDF5_ENABLE_ALL_WARNINGS=ON \
        -DHDF5_ENABLE_PARALLEL:BOOL=${{ matrix.parallel }} \
        -DHDF5_ENABLE_THREADSAFE:BOOL=${{ matrix.ts }} \
        -DHDF5_ENABLE_SUBFILING_VFD:BOOL=ON \
        -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=OFF \
        -DMPIEXEC_MAX_NUMPROCS:STRING=3 \
        ..
        ctest -C Release -T Build
        ctest -C Release -T Test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

