name: mac-14 clang-21 flang-21 mpich-dev

on:
  push:
    branches:
      - main
jobs:
  test:
    name: mac-14 clang-21 flang-21 mpich-dev
    runs-on: macos-14
    steps:
    - name: checkout mpich
      uses: actions/checkout@v6
      with:
        repository: pmodels/mpich
        submodules: recursive
    - name: install
      run: |
         brew install autoconf automake flang libtool lld
    - name: configure
      run: |
        find /opt/homebrew/
        export CC=/opt/homebrew/Cellar/llvm/21.1.8/bin/clang
        export CXX=/opt/homebrew/Cellar/llvm/21.1.8/bin/clang++
        export FC=/opt/homebrew//bin/flang-21
        export F77=/opt/homebrew/bin/flang-21
        export LDFLAGS="-Wl,-ld_classic -L/opt/homebrew/Cellar/llvm/21.1.8/lib"
        export FLIBS="-L/opt/homebrew/Cellar/llvm/21.1.8/lib -lFortran_main -lFortranRuntime -lFortranDecimal"
        ./autogen.sh
        ./configure --prefix=$PWD/install \
          --enable-fortran \
          --disable-weak-symbols \
          CC=$CC CXX=$CXX FC=$FC F77=$FC
      continue-on-error: true
    - name: cat
      run: cat mpich/config.log      
