name: mac-26 mpich-4.3.0 clang-17 f j hl aw -ts sf np=3

on:
  workflow_dispatch:
  push:
    branches: main
jobs:
  build:
    name: mac-26 mpich-4.3.0 cl-17 f j hl aw -ts sf np=3
    runs-on: macos-26

    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5
      - name: macport
        run: |
          curl -O -L  https://github.com/macports/macports-base/releases/download/v2.11.5/MacPorts-2.11.5-26-Tahoe.pkg
      - name: install
        run: |
          brew install flang ninja
          sudo installer -pkg MacPorts-2.11.5-26-Tahoe.pkg -target /
      - name: update
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          ls -l /opt/local/bin
          ls -l /opt/local/sbin
          sudo port selfupdate
      - name: mpich
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          port version
          sudo port install mpich-clang17
          sudo port select --set mpi mpich-clang17-fortran
      - name: test
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          env
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_C_COMPILER=/opt/local/bin/mpicc-mpich-clang17 \
            -DCMAKE_Fortran_COMPILER=/opt/local/bin/mpifort-mpich-clang17 \
            -DBUILDNAME="ninja/mpich-4.3/cl-17/f/j/hl/aw/-ts/sf/np=3" \
            -DCTEST_DROP_SITE_INIT=my.cdash.org \
            -DHDF5_BUILD_JAVA:BOOL=ON \
            -DHDF5_BUILD_FORTRAN:BOOL=ON \
            -DHDF5_BUILD_HL_LIB:BOOL=ON \
            -DHDF5_ENABLE_ALL_WARNINGS=ON \
            -DHDF5_ENABLE_PARALLEL:BOOL=ON \
            -DHDF5_ENABLE_THREADSAFE:BOOL=OFF \
            -DHDF5_ENABLE_SUBFILING_VFD:BOOL=ON \
            -DMPIEXEC_MAX_NUMPROCS:STRING=3 \
            ..
          ctest -D Experimental

