name: mac-15 ninja cl-21 fl-21

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          repository: HDFGroup/hdf5

      - name: install
        run: |
          brew update
          brew install flang

      - name: test
        run: |
          ls -l /opt/homebrew/bin/flang*
          export FC=/opt/homebrew/bin/flang-21
          export CC=/opt/homebrew/Cellar/llvm/21.1.8/bin/clang
          export CXX=/opt/homebrew/Cellar/llvm/21.1.8/bin/clang++
          mkdir build
          cd build
          cmake -G Ninja \
            -DSITE:STRING=mac-15 \
            -DBUILDNAME:STRING="ninja/cl-21/fl-21" \
            -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
            -DHDF5_BUILD_FORTRAN=ON \
            ..
          ctest -D Experimental
