name: mac-14 ninja mpich clang-19 fl d f sf

on:
  push:
    branches: [main-]

jobs:
  build:
    name: mac14 ninja mpich clang flang d sf
    runs-on: macos-14
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5
      - name: get
        run: |
          curl -O -L  https://github.com/macports/macports-base/releases/download/v2.11.5/MacPorts-2.11.5-14-Sonoma.pkg
      - name: install
        run: |
          sudo installer -pkg MacPorts-2.11.5-14-Sonoma.pkg -target /
      - name: update
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          ls -l /opt/local/bin
          ls -l /opt/local/sbin
          sudo port selfupdate
      - name: mpich
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          port version
          sudo port install mpich-clang
          sudo port select --set mpi mpich-clang-fortran
      - name: test
        run: |
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_C_COMPILER=mpicc-mpich-clang \
            -DCMAKE_Fortran_COMPILER=mpifort-mpich-clang \
            -DCMAKE_BUILD_TYPE=Debug \
            -DBUILD_SHARED_LIBS=ON \
            -DBUILD_STATIC_EXECS:BOOL=OFF \
            -DBUILD_STATIC_LIBS:BOOL=OFF \
            -DHDF5_BUILD_FORTRAN:BOOL=ON \
            -DHDF5_ENABLE_ALL_WARNINGS=ON \
            -DHDF5_ENABLE_PARALLEL:BOOL=ON \
            -DHDF5_ENABLE_SUBFILING_VFD:BOOL=ON \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=OFF \
            -DMPIEXEC_MAX_NUMPROCS:STRING=3 \
            ..
          ctest -T Build
          ctest -C Release -T Test
