name: msys2

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        sys:
#          - mingw64
#          - mingw32
#          - ucrt64
          - clang64
        os: [windows-11-arm]
#        os: [windows-2022, windows-2025, windows-11-arm]
    runs-on: ${{ matrix.os }}

    steps:
      - name: git
        run: git config --global core.autocrlf input

      - name: get
        uses: actions/checkout@v6
        with:
          repository: hyoklee/hdf5
          ref: HDFGroup-hdf5-5975

      - name: set
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          update: true
          pacboy: >-
            toolchain:p
            cmake:p
            ninja:p

      - name: build
        shell: msys2 {0}
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DBUILDNAME:STRING="5975/ninja" \
            -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
            -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
            -DSITE:STRING="${{ matrix.sys }}.${{ matrix.os }}" \
            ..
          ctest -R "h5_api_test_object"
#          ctest -D Experimental -E "dt_arith" -j 
