name: nvhpc 26.1

on:
  push:
    branches:
      - main-

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: apt
        run: |
          sudo apt update
          sudo apt install -y cmake libzip-dev ninja-build
      - name: nvhpc
        run: |
          curl https://developer.download.nvidia.com/hpc-sdk/ubuntu/DEB-GPG-KEY-NVIDIA-HPC-SDK | sudo gpg --dearmor -o /usr/share/keyrings/nvidia-hpcsdk-archive-keyring.gpg
          echo 'deb [signed-by=/usr/share/keyrings/nvidia-hpcsdk-archive-keyring.gpg] https://developer.download.nvidia.com/hpc-sdk/ubuntu/amd64 /' | sudo tee /etc/apt/sources.list.d/nvhpc.list
          sudo apt-get update -y
          sudo apt-get install -y nvhpc-26-1
          env
          find /opt/nvidia/hpc_sdk/
      - name: hdf5
        env:
          NPROCS: 2
          CFLAGS: -fPIC -lnvf -lnvomp -ldl -lnvhpcatm -latomic -lpthread -lnvcpumath -lnsnvc -lnvc -lrt -lm -Mbounds  -gopt   -O1
          FCFLAGS: -fPIC -lnvf -lnvomp -ldl -lnvhpcatm -latomic -lpthread -lnvcpumath -lnsnvc -lnvc -lrt -lm
        run: |
          export CC=/opt/nvidia/hpc_sdk/Linux_x86_64/26.1/comm_libs/13.1/hpcx/hpcx-2.25.1/ompi/bin/mpicc
          export LD_LIBRARY_PATH=/opt/nvidia/hpc_sdk/Linux_x86_64/26.1/comm_libs/13.1/hpcx/hpcx-2.25.1/ompi/lib:/opt/nvidia/hpc_sdk/Linux_x86_64/26.1/cuda/13.1/lib64:/opt/nvidia/hpc_sdk/Linux_x86_64/26.1/compilers/lib
          export NVHPCSDK=/opt/nvidia/hpc_sdk
          export PATH=/opt/nvidia/hpc_sdk/Linux_x86_64/26.1/comm_libs/openmpi4/bin:/opt/nvidia/hpc_sdk/Linux_x86_64/26.1/compilers/bin:/opt/nvidia/hpc_sdk/Linux_x86_64/26.1/comm_libs/13.1/hpcx/hpcx-2.25.1/ompi/bin/:$PATH
          env
          git clone https://github.com/HDFGroup/hdf5.git
          cd hdf5
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=Debug \
            -DHDF5_BUILD_CPP_LIB:BOOL=OFF \
            -DHDF5_BUILD_FORTRAN:BOOL=OFF \
            -DHDF5_BUILD_JAVA:BOOL=OFF \
            -DHDF5_ENABLE_PARALLEL:BOOL=OFF \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=OFF \
            ..
          ctest -T Build
          ctest -T Test
