name: omni

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: omni
    env:
      MYTOKEN : "value1"
      MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v6
    - name: Test in OmniOS
      id: test
      uses: vmactions/omnios-vm@v1
      with:
        envs: 'MYTOKEN MYTOKEN2'
        usesh: true
        prepare: |
          pkg  install socat

        run: |
          if [ -n "test" ]; then
            echo "false"
          fi
          if [ "test" ]; then
            echo "test"
          fi
          pwd
          ls -lah
          whoami
          env
          psrinfo -vp
          cat /etc/release
          psrinfo -v
          echo "::memstat" | mdb -k
          echo "OK"
