name: omni

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: omni
    steps:
    - uses: actions/checkout@v6
      with:
        repository: HDFGroup/hdf5

    - name: Test in OmniOS
      id: test
      uses: vmactions/omnios-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install build-essential cmake socat

        run: |
          if [ -n "test" ]; then
            echo "false"
          fi
          if [ "test" ]; then
            echo "test"
          fi
          pwd
          ls -lah
          whoami
          env
          psrinfo -vp
          cat /etc/release
          psrinfo -v
          echo "::memstat" | mdb -k
          echo "OK"
          cd work/actions/actions
          ls
          mkdir build
          cd build
          cmake \
          -DBUILDNAME:STRING="r" \
          -DCMAKE_BUILD_TYPE=Release \
          -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" \
          -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" \
          -DSITE:STRING=omni \
          ..
          ctest -C Release -D Experimental
