name: pip

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: test
        run: |
          sudo apt install libyaml-cpp-dev
          sudo apt install libboost-all-dev
          pip install iowarp-core
          wrp_cae_omni
