name: pip

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: test
        run: |
          pip install iowarp
          wrp_cae_omni
#          sudo apt install libyaml-cpp-dev
#          pip install iowarp-core
