name: spack iowarp

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: checkout spack
      uses: actions/checkout@v6
      with:
        repository: spack/spack
        path: ./spack
    - name: checkout iowarp
      uses: actions/checkout@v6
      with:
        repository: iowarp/iowarp-install
        path: ./iowarp
    - name: spack
      run: |
        . ./spack/share/spack/setup-env.sh
        spack repo add iowarp/iowarp-spack
        spack spec -I iowarp
        spack install iowarp
