name: win-25 vs-26 tv

on:
  push:
    branches:
      - main-
jobs:
  build:
    runs-on: windows-2025-vs2026
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: brtnfld/hdf5          
          ref: atomic
      - name: test
        run: |
          mkdir build
          cd build
          cmake -DSITE:STRING="win-25" -DBUILDNAME:STRING="vs-26/tv/pr6244" -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" -DHDF5_TEST_VFD:BOOL=ON ..
          ctest -D Experimental 
