name: win d

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: HDFGroup/hdf5    
      - name: test
        run: |
          mkdir build
          cd build
          cmake -DSITE:STRING="win-25" -DBUILDNAME:STRING="d" -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" -DCTEST_DROP_LOCATION_INIT="/submit.php?project=HDF5" ..
          ctest -C Debug -D Experimental 
