name: wsl alp

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [Alpine]
    defaults:
      run:
        shell: wsl-bash {0}
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: HDFGroup/hdf5
      - uses: Vampire/setup-wsl@v6
        with:
          distribution: ${{ matrix.os }}
          additional-packages:
            cmake
            bash
      - name: Run the script
        run: |
          mkdir build
          cd build
          pwd
          cmake -DSITE:STRING="alp/wsl" -DBUILDNAME:STRING="r" -DCTEST_DROP_SITE_INIT:STRING="my.cdash.org" -DCTEST_DROP_LOCATION_INIT:STRING="/submit.php?project=HDF5" ..
#          /mnt/d/a/actions/actions/bin/ctest -T Build
#          /mnt/d/a/actions/actions/bin/ctest -T Test
